<html>
  <head>
  </head>
  <body>
    {{ APP_CONTENT }}
    <script src="./ssr/client-bootstrap.js" crossorigin="anonymous"></script>
    <script type="module" src="./bundle.js"></script>
    {{ STATE }}
  </body>
</html>