<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="root">

    <%- pageContent %>

  </div>
  <script type="module" src="./app.js"></script>
</body>
</html>